<div id="view-container">
    <h2>Welcome!</h2>
    <main>
        <hr />
        <i class="fa fa-database" style="font-size:36px;"></i>
        <strong><h2>My Databases</h2></strong>
            <strong><a  href="" ng-click="viewCriminals()">Criminals</a></strong>
            <!--<strong><a href="" ng-click="viewLogs()">UPD Officials</a></strong>
            <strong><a href="#" >Suspects</a></strong>-->
        <hr />
        <i class="fa fa-table" style="font-size:36px;"></i>
        <strong><h2>Historical Data</h2></strong>
            <strong><a href="" ng-click="viewLogs()">Logs</a></strong>
        <hr />
    </main>
</div>