<i class="fa fa-table" style="font-size:36px;"></i>
<strong id="table-heading"><h2>Alert Logs</h2></strong>
<main>
    <hr />  
        <table id="records-table">
            <thead>
                <tr>
                    <th>Timestamp</th>
                    <th>Facial Detection</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in items" id={{item._id}} ng-click="viewalert()">
                    <th id={{item._id}} title={{item.timestamp.split('T')[0]}}>{{item.timestamp.split('T')[0]}}</th>
                    <th id={{item._id}}>{{item.detectedFaces.length == 0 ? 'No Criminals detected' : 'Criminals detected'}}</th>
                </tr>
            </tbody>
        </table>
    <hr />
</main>