<i class="fa fa-table" style="font-size:36px;"></i>
<strong id="table-heading"><h2>Alert Logs</h2></strong>
<main>
    <hr />  
        <table id="records-table">
            <thead>
                <tr>
                    <th>Timestamp</th>
                    <th>Message</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>2018-02-02 15:02:01</th>
                    <th class="offencestab">Unknown suspicious person spotted on campus</th>
                    <th>
                        <button type="submit" class="btn btn-success">View details</button>
                    </th>
                </tr>
                <tr>
                    <th>2018-02-02 12:30:52</th>
                    <th class="offencestab">Mr John Doe spotted on campus</th>
                    <th>
                        <button type="submit" class="btn btn-success">View details</button>
                    </th>
                </tr>
                <tr>
                    <th>2018-10-02 02:01:32</th>
                    <th class="offencestab">Ms Angela Lewis spotted on the campus</th>
                    <th>
                        <button type="submit" class="btn btn-success">View details</button>
                    </th>
                </tr>
            </tbody>
        </table>
    <hr />
</main>
<p><a href="" ng-click="logout()">Logout</a></a></p>